<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.name %></h1>
<p>Your jar is open! Look at what's good this month:</p>
<ul>
  <li>Stuff</li>
  <li>More Stuff</li>
</ul>
<p>Thanks for joining and have a great day!</p>
</body>
</html>