<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header" style="background: url('<%= full_image_path('jar.jpg')%>') center center no-repeat scroll;">
  <h1 class="text-center jar-title">Remember the Positive</h1>
</header>
<h3 class="text-center">Store good things that happened today and we'll remind you every week.</h3>
<div class="text-center">
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary navbar-btn white-text' %>
</div>
<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag "head.png", class: "img-responsive img-center" %>
      <!-- <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt=""> -->
      <h2>Mind</h2>
      <p>
        By focusing on the positive you experience greater motivation overall. This leads to reduced rates of depression
        and a better mind.
      </p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "health.png", class: "img-responsive img-center" %>
      <h2>Body</h2>
      <p>
        Positive thinking combats negative stresses which is behind more than <a href="https://www.rt.com/usa/231879-job-stress-killing-americans/">120,000 American deaths <b>per year.</b></a>
      </p>
    </div>
  </div>
  <!-- /.row -->
