<div class="row box-shadow" id="jar-input">
    <br>
    <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-6 col-sm-6 col-xs-6">
      <div id="timer-box" class="row">
        <h4 class="text-center" style="color:#FFFFFF;">
          Opening the Jar in:
        </h4>
        <div id="timer">
        </div>
      </div>
      <br>
        <div class="image">
            <%= image_tag "jar.png" %>
            <div class="text-center">
                <h3 id="jar-count">(<%= @number_in_jar %>)</h3>
            </div>
        </div>
        <br>
        <div id="post-box">
            <%= render 'form' %>
        </div>
    </div>
</div>


<div class="row" id="posts">
    <h1 class="text-center">Good Things from the Past...</h1>
    <hr>
    <% if !@posts.nil? %>
      <%= render @posts %>
    <% end %>
</div>

<script>
    pureJSTimer({
        container  : '#timer',
        endDate    : '2015 november 9',
        afterUpdate: function(startDate, endDate, currentDate) {
            //
        },
        onFinish   : function(startDate, endDate) {
            //
        }
    });
</script>
