/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea.vert { resize:vertical; }

#posts {
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

#jar-input {
  background-color: cadetblue;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 4px -2px #000000;
  -moz-box-shadow: 0 4px 4px -2px #000000;
  box-shadow: 0 4px 4px -2px #000000;
}

#message {
  background-color: cadetblue;
  padding-top: 30px;

}

.margin-10 {
  margin-right: 10px;
}

.white-text {
  color: #FFFFFF;
}

.btn {
  color: #FFFFFF;
}

.jar-title {
  color: #000000;
  padding-top: 350px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.business-header {
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
}

#timer-box {
  //border-radius: 25px;
  //background-color: #78CC7E;
  color: #FFFFFF;
  /*
  margin-left: 120px;
  margin-right: 120px;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
  */
}

#post-box {
  //border-radius: 25px;
  background-color: #6A6E5A;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
}

.input-background {
  color: #FFFFFF;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

#jar-count {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  color: #000000;
}

::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* FF 19+ */
:-moz-placeholder { color:#999; } /* FF 18- */
:-ms-input-placeholder { color:#999; }
.placeholder { color:#999; } /* for the polyfill */