<% if user_signed_in? %>
  <li><%= link_to 'Settings', edit_user_registration_path, class: 'margin-10' %></li>
    <li class="navbar-form"><%= button_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'btn btn-success' %></li>
<% else %>
  <li><div><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-success margin-10 navbar-btn white-text' %></div></li>
  <li><div><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success navbar-btn white-text' %></div></li>
<% end %>